<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="OpcNetApi" publicKeyToken="9A40E993CBFACE53" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.105.1" newVersion="2.1.105.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="OpcNetApi.Com" publicKeyToken="9A40E993CBFACE53" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.105.1" newVersion="2.1.105.1"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
